@using MvcKutuphane.Models.Entity;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLKitap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="text-align:center; background-color:#453f3f; width:400px;">
    <table class="table table-bordered" style="margin-top:15px;">
        <tr>
            <th style="text-align:center"><span style="color:white">KİTAP İŞLEMLERİ</span></th>
        </tr>
    </table>
</div>


@using (Html.BeginForm("Index", "Kitap", FormMethod.Post))
{
    <div style="margin-bottom:15px; margin-top:15px; margin-right:600px;">
        @Html.TextBox("p", null, new { @class = "form-control", @placeholder = "Kitap Ara..." })
    </div>
}


<div style="margin-top:10px;">
    <table class="table table-bordered">
        <tr style="background-color:gray; color:white;">
            <th>ID</th>
            <th>KİTAP ADI</th>
            <th>KİTAP YAZAR</th>
            <th>KATEGORİ</th>
            <th>BASIM YILI</th>
            <th>YAYINEVİ</th>
            <th>SAYFA SAYISI</th>
            <th>DURUM</th>
            <th>DETAY</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>


        @foreach (var kitap in Model)
        {
            <tr style="background-color:darkgray;">
                <td>@kitap.ID</td>
                <td>@kitap.AD</td>
                <td>@kitap.TBLYazar.AD @kitap.TBLYazar.SOYAD</td>
                <td>@kitap.TBLKategori.AD</td>
                <td>@kitap.BASIMYIL</td>
                <td>@kitap.YAYINEVİ</td>
                <td>@kitap.SAYFA</td>
                <td>@kitap.DURUM</td>
                <td><a href="/Kitap/KitapDetay/@kitap.ID" class="btn btn-warning">KİTAP DETAY</a></td>
                <td><a href="/Kitap/KitapSil/@kitap.ID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Kitap/KitapGetir/@kitap.ID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </table>
</div>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Kitap/KitapEkle" class="btn btn-primary">Yeni Kitap Ekle</a>

