@using MvcKutuphane.Models.Entity;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLYazar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="text-align:center; background-color:#453f3f; width:400px;">
    <table class="table table-bordered" style="margin-top:15px;">
        <tr>
            <th style="text-align:center"><span style="color:white">YAZARLAR</span></th>
        </tr>
    </table>
</div>

<div style="margin-top:10px;">
    <table class="table table-bordered">
        <tr style="background-color:gray; color:white;">
            <th>ID</th>
            <th>AD</th>
            <th>SOYAD</th>
            <th>YAZAR DETAY</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
        @foreach (var yazar in Model)
        {
            <tr style="background-color:darkgray;">
                <td>@yazar.ID</td>
                <td>@yazar.AD</td>
                <td>@yazar.SOYAD</td>
                <td><a href="/Yazar/YazarDetay/@yazar.ID" class="btn btn-warning">YAZAR DETAY</a></td>
                <td>@Html.ActionLink("Sil", "YazarSil", new { id = yazar.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musunuz ?')" })</td>
                <td><a href="/Yazar/YazarGetir/@yazar.ID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </table>
</div>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Yazar/YazarEkle" class="btn btn-primary">Yeni Yazar Ekle</a>

