
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    List<MvcKutuphane.Controllers.DovizController._Doviz> dovizler = ViewBag.dovizler as List<MvcKutuphane.Controllers.DovizController._Doviz>;
}


<table class="table table-hover">
    <thead>
        <tr>
            <th>Döviz Kodu</th>
            <th>Birim</th>
            <th>Döviz Cinsi</th>
            <th>Döviz Alış</th>
            <th>Döviz Satış</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in dovizler)
        {

            if (d.CurrencyCode != "XDR")
            {

                string img = "http://www.tcmb.gov.tr/kurlar/kurlar_tr_dosyalar/images/" + d.CurrencyCode + ".gif";

                <tr>
                    <td>
                        <img src="@img" />
                        @d.CurrencyCode / TRY
                    </td>
                    <td>@d.Unit</td>
                    <td>@d.Isim</td>
                    @*<td>@d.CurrencyName</td>*@
                    <td>@d.ForexBuying</td>
                    <td>@d.ForexSelling</td>
                    @*<td>@d.CrossRateUSD</td>
                        <td>@d.CrossRateOther</td>*@
                </tr>
            }
        }
    </tbody>
</table>